@font-face {
  font-family: "1";
  src: url(./fonts/FiraCode-Regular.ttf);
}
body {
  
  font-size: 0.8rem;
  overflow-x: hidden;
  color: rgb(0, 0, 0);
  font-family: '1';
  background-color: rgb(255, 255, 255);
}

.box {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  height: 6.5rem;
  width: 100%;
}

.index {
  color: #ff0000;
  position: fixed;
  z-index: 9999;
  left: 4.6%;
  
  top: 2.5rem;
}

input[type="text"] {
  z-index: 9999;
  color: #ff0000;
  position: fixed;
  top: 4rem;
  left: 4.5%;
  font-family: '1';
  width: 6rem;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  border: 0.08rem solid rgb(255, 255, 255);
  border-radius: 2px;
  transition: width 0.4s ease-in-out;
  outline: none;
  
}

input[type="text"]:focus {
  border: 0.08rem solid rgb(0, 0, 0);
}

input[type="text"]:focus::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0;
}

#imageContainer {
  padding-top:6rem;
  text-align: center;
}

#imageContainer img {
  padding-left:1rem;
  margin: 0.5rem;
  width: 13.6rem;
}

table {
  text-align: left;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  font-family: '1';
  line-height: 100%;
  width:auto;
}

.googlesheet {
  
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 6.5rem;
}

.line {
  top: 5.5rem;
  left: 4.5%;
  
  position: fixed;
  width: 91%;
}

tr.highlighted-row {
 
  color:red;
 

}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
  background-color: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

::placeholder {
  font-size: inherit;
  color: rgb(0, 0, 0);

  
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1024px) {


  body{
    font-size: 0.75rem;
  }

  table {
    
    column-gap: 1rem;
    grid-template-columns: 1fr; /* 작은 화면에서는 한 개의 열로 변경 */
  }
}



@media (max-width: 768px) {
 

  
 
  table {
    font-size: 0.7rem;
    column-gap: 0rem;
    grid-template-columns: 1fr; /* 작은 화면에서는 한 개의 열로 변경 */
  }

  #imageContainer {
    flex-direction: column; /* 이미지가 수직으로 정렬되도록 변경 */
  }

  #imageContainer img {
    padding-left: 0;
    width: 40%; /* 작은 화면에서 이미지 크기 조정 */
  }
}
