body {
  margin-top: 2%;
  color:violet;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-x: hidden;
  overflow-y: overlay;
}

tr.highlighted-row {
    /* background-color: #eb7ed5, 0.7; */
    /* font-weight: bold;  */
    filter: blur(0.8px);
    /* color: #9a6a03; */
    box-shadow: -100px 0 8px  rgba(37, 0, 147, 0.5);
    border-radius: 3px;
    /* 다른 스타일 변경을 원하면 여기에 추가할 수 있습니다 */
}


/* 링크 스타일을 설정합니다. */
a:link, a:visited {
  text-decoration: none;
  color: violet;
  background-color: none;
  
}

a:hover{
    color:#1a00c1;
}


/* 검색 input 스타일을 설정합니다. */

input[type=text] {
    color: #1a00c1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    width: 16%;
    border: 2px solid violet;
    border-radius: 0px;
    /* margin-top: -3.5%; */
    height: 3%;
    position: fixed;
    left: 3.5%;
    transition: width 0.4s ease-in-out;
    outline: none;
  }
  
input[type=text]:focus {
    border: 2px solid violet;
    width: 37.2%;
    
  }

/* 테이블 스타일을 설정합니다. */
table {
  margin-top: 5%;
  margin-left: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  width: 100%;
  
  
}

/* table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff7b00;
  } */


/* 테이블 행에 호버 효과를 추가합니다. */
/* 
table tr:hover {
  /* color: rgb(84, 8, 155); */
  /* background-color: red;배경색을 투명으로 유지합니다. */
 */





::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  violet;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: violet;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: violet;
  }


  ::-webkit-scrollbar {
    width: 50px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,violet);
    border-radius: 20px;
  }
  
  /* #3800d1 */